<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503 Interval Server ERROR</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 style="text-align: center;">503 Server ERROR</h1>
        <br>
        <h1 id="inputid">Loading...</h1>
    </div>

    <script>
        let inputVal = "{{ input }}"
        const inputType = "{{ inputType }}"
        const inputid = document.getElementById("inputid")
        const inputid2 = document.getElementById("inputid2")

        if (inputType != "filename") {
            if (inputVal.startsWith("+")) {
                inputVal = Number(inputVal.substring(1))
            } else if (inputVal.endsWith("l.jpg")) {
                inputVal = Number(inputVal.replace("l.jpg", ""))
            } else if (inputVal.endsWith(".jpg")) {
                inputVal = Number(inputVal.replace(".jpg", ""))
            } else if (inputVal.endsWith(".mp4")) {
                inputVal = Number(inputVal.replace(".mp3", ""))
            } else {
                inputVal = Number(inputVal)
            }
        }

        if (inputType == "bsid") {
            inputid.innerText = `BeatmapSetID = ${inputVal}`
        } else if (inputType == "filename") {
            inputid.innerText = `Filename = ${inputVal}`
        } else {
            inputid.innerText = `BeatmapID = ${inputVal}`
        }
    </script>
</body>
</html>