<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedstarOSU's mediaserver</title>
</head>
<body style="background-color: pink;">
    <div id="rsm" style="text-align: center;">
        <h1>
            <a href="/bg/" target="_blank" rel="noopener noreferrer">
                bg/{+BeatmapSetID} or {BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/thumb/" target="_blank" rel="noopener noreferrer">
                thumb/ ?????
            </a>
        </h1>

        <h1>
            <a href="/audio/" target="_blank" rel="noopener noreferrer">
                audio/{+BeatmapSetID} or {BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/preview/" target="_blank" rel="noopener noreferrer">
                preview/{BeatmapSetID}.mp3
            </a>
        </h1>

        <h1>
            <a href="/video/" target="_blank" rel="noopener noreferrer">
                video/{BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/b/" target="_blank" rel="noopener noreferrer">
                b/{BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/d/" target="_blank" rel="noopener noreferrer">
                d/{BeatmapSetID}
            </a>
        </h1>

        <h1>
            <a href="/osu/" target="_blank" rel="noopener noreferrer">
                osu/{BeatmapID}
            </a>
        </h1>
    </div>

    <div style="text-align: center;">

        <h1 style="color: red;">링크 누르면 동작합니다</h1>
        <br><br>

        <h1>BG</h1>
        <a style="color: #00FFFF;" id="bg" href="https://media.redstar.moe/bg/<int:id>">https://media.redstar.moe/bg/{+BeatmapSetID} or {BeatmapID}</a>
        <br><br><br><br>

        <h1>thumb</h1>
        <a style="color: #00FFFF;" id="thumb" href="https://media.redstar.moe/bancho/id/<int:uid>">https://media.redstar.moe/thumb/?????</a>
        <br><br><br><br>

        <h1>audio</h1>
        <a style="color: #00FFFF;" id="audio" href="https://media.redstar.moe/audio/<int:id>">https://media.redstar.moe/audio/{+BeatmapSetID} or {BeatmapID}</a>
        <br><br><br><br>
        
        <h1>preview</h1>
        <a style="color: #00FFFF;" id="preview" href="https://b.redstar.moe/preview/<int:bsid>.mp3">https://b.redstar.moe/preview/{BeatmapSetID}.mp3</a>
        <br><br><br><br>
        
        <h1>video</h1>
        <a style="color: #00FFFF;" id="video" href="https://media.redstar.moe/video/<int:bid>">https://media.redstar.moe/video/{BeatmapID}</a>
        <br><br><br><br>
        
        <h1>b</h1>
        <a style="color: #00FFFF;" id="b" href="https://media.redstar.moe/b/<int:bid>">https://media.redstar.moe/b/{BeatmapID}</a>
        <br><br><br><br>
        
        <h1>d</h1>
        <a style="color: #00FFFF;" id="d" href="https://media.redstar.moe/d/<int:bsid>">https://media.redstar.moe/d/{BeatmapSetID}</a>
        <br><br><br><br>
        
        <h1>osu</h1>
        <a style="color: #00FFFF;" id="osu" href="https://media.redstar.moe/osu/<int:bid>">https://media.redstar.moe/osu/{BeatmapID}</a>
        <br><br><br><br>
        
        
        

    </div>

    <script src="../stat"></script>

    <script>
        function rs() {
            let h = window.outerHeight
            let w = window.outerWidth
            console.log(`${w} x ${h}`)

            const FDiv = document.getElementById("rsm")
            FDiv.style.marginTop = `${h / 4}px`

            const img_resize = document.getElementsByClassName("image")
            for (let i = 0; i < img_resize.length; i++) {
                img_resize[i].height = h / 10
            }
        }
        rs()
        window.addEventListener("resize", rs)
    </script>
</body>
</html>