<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedstarOSU's mediaserver</title>

    <style>
        body{
            background-image: url(../static/img/bg.png);            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            /* opacity: 0.5; */
        }
    </style>
</head>
<body>
    <!-- <div id="rsm" style="text-align: center;">
        <h1>
            <a href="/bg/" target="_blank" rel="noopener noreferrer">
                bg/{+BeatmapSetID} or {BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/thumb/" target="_blank" rel="noopener noreferrer">
                thumb/ ?????
            </a>
        </h1>

        <h1>
            <a href="/audio/" target="_blank" rel="noopener noreferrer">
                audio/{+BeatmapSetID} or {BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/preview/" target="_blank" rel="noopener noreferrer">
                preview/{BeatmapSetID}.mp3
            </a>
        </h1>

        <h1>
            <a href="/video/" target="_blank" rel="noopener noreferrer">
                video/{BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/b/" target="_blank" rel="noopener noreferrer">
                b/{BeatmapID}
            </a>
        </h1>

        <h1>
            <a href="/d/" target="_blank" rel="noopener noreferrer">
                d/{BeatmapSetID}
            </a>
        </h1>

        <h1>
            <a href="/osu/" target="_blank" rel="noopener noreferrer">
                osu/{BeatmapID}
            </a>
        </h1>
    </div> -->

    <div style="text-align: center;">

        <h1 style="color: red;">링크 누르면 동작합니다</h1>
        <br><br>

        <h1>BG</h1>
        <h2>
            <a style="color: darkorchid;" id="bg" href="">https://b.redstar.moe/bg/{+BeatmapSetID} or {BeatmapID}</a>
        </h2>
        <br>

        <h1>thumb</h1>
        <h2>
            <a style="color: darkorchid;" id="thumb" href="">https://b.redstar.moe/thumb/{BeatmapSetID}l.jpg</a>
        </h2>
        <br>

        <h1>audio</h1>
        <h2>
            <a style="color: darkorchid;" id="audio" href="">https://b.redstar.moe/audio/{+BeatmapSetID} or {BeatmapID}</a>
        </h2>
        <br>
        
        <h1>preview</h1>
        <h2>
            <a style="color: darkorchid;" id="preview" href="">https://b.redstar.moe/preview/{BeatmapSetID}.mp3</a>
        </h2>
        <br>
        
        <h1>video</h1>
        <h2>
            <a style="color: darkorchid;" id="video" href="">https://b.redstar.moe/video/{BeatmapID}</a>
        </h2>
        <br>
        
        <h1>b</h1>
        <h2>
            <a style="color: darkorchid;" id="b" href="">https://b.redstar.moe/b/{BeatmapID}</a>
        </h2>
        <br>
        
        <h1>d</h1>
        <h2>
            <a style="color: darkorchid;" id="d" href="">https://b.redstar.moe/d/{BeatmapSetID}</a>
        </h2>
        <br>
        
        <h1>osu</h1>
        <h2>
            <a style="color: darkorchid;" id="osu" href="">https://b.redstar.moe/osu/{BeatmapID}</a>
        </h2>
        <br>
        
        
        

    </div>

    <script src="../static/js/index.js"></script>

    <script>
        function rs() {
            let h = window.outerHeight
            let w = window.outerWidth
            console.log(`${w} x ${h}`)

            const FDiv = document.getElementById("rsm")
            FDiv.style.marginTop = `${h / 4}px`

            const img_resize = document.getElementsByClassName("image")
            for (let i = 0; i < img_resize.length; i++) {
                img_resize[i].height = h / 10
            }
        }
        rs()
        window.addEventListener("resize", rs)
    </script>
</body>
</html>